
<div class="navb">
    <!--<div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>-->
      <nav class="navbar navbar-light ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <a href="/" style="color: #000;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
              </svg></a>
            
          </button>
        </div>
      </nav></div>

<div class="aside">
    <div class="btn-menu">
        <i class="fa-regular fa-circle-xmark"></i>
        <i class="fa-solid fa-bars"></i>
        </div>
    <div class="slide">
        <div class="item 3"> <a href="/">Accieul </a> </div>
        <div class="item 1" ><span class="btn" id="produit"> Produit</span></div>
        <div class="item 2" ><a href="/serveur"> serveur</a></div>
        
        
        <div class="item 4"> menu </div>
    </div>
</div>

