

<div class="aside">
    <div class="btn-menu">
        <i class="fa-regular fa-circle-xmark"></i>
        <i class="fa-solid fa-bars"></i>
        </div>
    <div class="slide">
        <div class="item 3"> <a href="/">Accieul </a> </div>
        <div class="item 1" ><span class="btn" id="produit"> Produit</span></div>
        <div class="item 2" ><a href="/serveur"> serveur</a></div>
        
        
        <div class="item 4"> menu </div>
    </div>
</div>

