<div class="gticket">
    <div class="title">
        <img src="./css/logo.jpg" alt="" srcset="">
        <p> CAFE EL BORG MOGADOR</p>
        <p>MARRAKECH </p>
        <p>tel : 06.11.11.11.11</p>
        <p>-----------------------------------------------------------</p>
        <h3>Sur place</h3>
        <h3>Ticket N` :  </h3>
    </div>
    <div class="date" id="dateT">13-11-2022 13:08</div>
    <div class="serveur"> Caissier   : <span id="serveur">ahmed</span> <span class="tel">Tel : </span> 
        <span class="telS"> 06 96969696</span></div>
    <p>=======================================</p>
    <p class="prod" > 
        <table class="tabcom" id="tabcom" border="0px"style="width:100%" >
            <tr>
                <th>Produit</th>
                <th>PU</th>
                <th>Qte</th>
                <th>PT</th>
            </tr>
            <tr>
                <th colspan="4">----------------------------------------------------------------</th>
            </tr>
            <span id="Aticket">
                
            </span>
            <tr>
                <th id="nom">cafe noir</th>
                <th id="PU1">13</th>
                <th id="qte2">1</th>
                <th id="PT3">13</th>

            </tr>
        </table>    
    </p>
    <div class="title" id="footer"> <p >----------------------------------------------------------------</p>
    <p class="nbrpro">Nbre de produits  <span id="nbrpro">1</span> </p>
    <br>
    <h2>Total                    <span id="dop">:</span> <span id="total" style="margin-left:15px"> 13</span> DH</h2></div>
    <br>
    <div class="espece"> Especes   <span id="total2">13</span></div>
    <p >----------------------------------------------------------------</p>
     <p align="center" >Merci de votre visite </p>
     <form action="" method="post" id="formT">

     </form>
</div>